# Copie este arquivo para ".env" (uso local) OU cole essas variáveis
# nas "Environment Variables" do seu serviço no Render/Railway/etc.

# Já geradas prontas para uso — pode usar exatamente estas:
VAPID_PUBLIC_KEY=BD0MqlERCD5D3OaD8jBfCBVsBuhbXJ0PZu_85kqYJ-_LO61ADR4iQt48RElnzQxh5fAyuCS8gPYsoz8Buaem5M0
VAPID_PRIVATE_KEY=onLq5X-CgQ0b3MimKT9ZwVSa_tDK-82b2xQ3nGVTDRY
VAPID_SUBJECT=mailto:seuemail@example.com

# Porta (o Render/Railway define isso automaticamente, pode ignorar)
PORT=3001
